{% extends "friends/layout/base.html" %}

{% block content %}
<section id="input">
    <h4 id="h3-add" style="margin-top: 75px">Add Friend</h4>
    <br>
        <form method="POST" action="{% url 'friends:add_friend' %}">
            {% csrf_token %}
            {{friend_form}}
            <br>
            <button style="background-color: #0000FF;margin-left: 90%;width: 100px", type="submit" class="button btn-success">Add Friend</button>
        </form>
</section>
<section id="list-friend">
    <h4 class="friendList">List Friend</h4>
    <div class="friendList">
        {% if todo %}
            {% for data in todo %}
                <div class="col-lg-2">
                    {{data.name}}
                </div>
                <div class="col-lg-2">
                <a href="{{data.url}}">{{data.url}}</a>
                </div>
                <div class="col-lg-2">
                    {{data.created_date}}
                </div>
            {% endfor %}
        {% else %}
        <div class="alert alert-danger text-center bg-info">
            <strong>Oops!</strong> anda belum memiliki teman.
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
