{% extends "status/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<hr/>
<style type="text/css">
    .todo-form-textarea {
        width: 100%;
    }
    .img-circle {
         border-radius: 50%;
         width: 110px;
         height:110px;
    }
</style>
<div class="container">
    <div class="col">
        <div class="col-sm-6">
            <section name="input-list" id="input-list">
                <div class="container">
                    <form id="form" method="POST" action="{% url 'status:status' %}">
                        <h2>What's on your mind?</h2>
                        <br>
                        {% csrf_token %}
                        {{ todo_form }}

                        <input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">

                    </form>
                    <br>

                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section name="my-list" id="my-list" style="padding-bottom: 20px">


            {% if todo %}
                {% for data in todo %}

                    <div class="container">
                        <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class= "media" style="padding: 40px">
                                <div class= "media-left">
                                    <img class="img-circle"src="https://preview.ibb.co/b8pVNw/06e9350eba304acf094b4d2d67b74870_female_face_drawing_girl_face_drawing.jpg">
                                </div>
                                <div class="media-body" style="padding-left:10px" >

                                    <h4 class="media-heading"><strong>{{author}}</strong> <small><i> Posted on
                                    {{data.created_date}}</i></small></h4>
                                    <p>{{data.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> anda belum memposting status apapun.
            </div>
            {% endif %}
        <!--</div> -->

</section>
        </div>
    </div>
</div>



{% endblock %}
